.footer {
  background-color: #f9f9f9; /* Pale white background for footer */
  padding: 48px 0;
  color: #333; /* Darker color for text */
}

.footer::before {
  content: '';
  display: block;
  border-top: 2px solid #ddd; /* Distinguished line */
  margin-top: -20px; /* Move the line further down */
  margin-bottom: 20px;
}

.footer .link {
  color: #333;
  display: block;
  margin: 8px 0;
  transition: color 0.3s ease;
}

.footer .link:hover {
  color: #ff4081; /* Secondary color */
  text-decoration: none;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 24px;
  text-align: center;
}

.footer-section {
  margin-bottom: 24px;
}

.payment-methods,
.delivery-partners {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.footer .payment-icon,
.footer .delivery-icon {
  width: 80px; /* Increased size for better visibility */
  height: auto;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-media .social-icon {
  width: 30px; /* Set icon size */
  height: auto;
}
