/* Carousel styles */
.carousel-item {
    position: relative;
    text-align: center;
    color: white; /* Change this to white */
    font-family: "Arial", sans-serif; /* Change this to your preferred font family */
}
  
.carousel-image {
    width: 100%;
    height: auto;
}
  
.carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5); /* Adjust this as needed for better contrast */
    padding: 10px 20px;
    border-radius: 5px;
    color: white; /* Change this to white */
    font-family: "Arial", sans-serif; /* Change this to your preferred font family */
}
  
.carousel-button {
    margin-top: 10px;
    background-color: #ff6600;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-transform: none;
}
  
.carousel-button:hover {
    background-color: #e65c00;
}
